body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 30px 0;
    background-image: url(https://s1.hdslb.com/bfs/static/upload/bg.b4ea.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
h1{
	font-weight: normal;
	font-family:"Microsoft YaHei", sans-serif;
}
h4{
	font-weight: normal;
	font-size: 22px;
	font-family:"STKaiti", sans-serif;
}
.main{
	background-color: white;
    background-position: top;
    padding: 30px 0;
    width: 900px;
    min-height: 400px;
    margin: 0 auto;
}
.dropbtn {
	display: block;
	min-width: 77px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #ccd0d7;
	text-align: center;
	font-size: 14px;
	color: #222;
	margin-right: 10px;
	margin-bottom: 10px;
	background: #f4f5f7;
	cursor: pointer;
}
li a:hover, .dropdown:hover .dropbtn {
	color: #00a1d6;
	background: #fff;
	border-color: #00a1d6;
}
li.dropdown {
    display: block;
}
.outline {
    font-size: 14px;
    color: #00a1d6;
}
.dropdown-content {
    display: none;
    position: absolute;
	z-index: 9;
    min-width: 80px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    color: #222;
    cursor: pointer;
    white-space: nowrap;
}
.description-cover {
	width: 100%;
	height: 42px;
	line-height: 40px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	background-color: #f4f5f7;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.submit-btn {
	width: 170px;
	height: 42px;
	line-height: 42px;
	background: #00a1d6;
	color: #fff;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}
.submit-btn:hover {
	background: #00b5e5;
}
.bili-input {
	display: inline-block;
	width: 360px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #ccd0d7;
	font-size: 18px;
	color: #222;
	padding: 5px 5px 5px 12px;
}
.show {
    display: block;
}
a:link{text-decoration:none ; color:black ;}
a:visited {text-decoration:none ; color:black;}